body{
    background-color:black;
    position:absolute;
    width:100vw;
}
#login-screen {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 100vh;            /* Full height of the viewport */
}
#login-screen *{
    width:50%;
    margin:0 auto;
}