body{
    background-color:black;
    position:absolute;
    width:100vw;
    overflow:hidden;
    color:white;
    font-family: monospace;
    border:none;
}

#login-screen *{
    width:50%;
    margin:0 auto;
}
#login-screen button{
    background-color:#000000;
    color:white;
    transition:0.125s;
    border:solid 1px white;
}
#login-screen button:hover{
    background-color:darkgrey;
}